.beans {
    display: flex;
    gap: 80px;
    padding: 70px 352px 60px 391px;
    &__img {
        width: 272px;
        height: 355px;
        object-fit: none;
    }
    &__subtitle {
        font-weight: 400;
        font-size: 24px;
        color: #000;
        text-align: center;
    }
    &__text {
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #000;
        &:first-of-type {
            margin-top: 25px;
        }
    }
}