.our {
    background: url(../../resources/img/header-our-bg.jpg) center (center/cover) no-repeat;
    min-height: 260px;
    padding: 30px 150px 0px 150px;
    &__title {
        margin-top: 60px;
        font-weight: 700;
        font-size: 40px;
        color: #fff;
        text-align: center;
    }
} 