.app {
    &__menu {
        display: flex;
        ul {
            display: flex;
            align-items: end;
            gap: 40px;
            font-weight: 400;
            font-size: 12px;
        }
        &_footer {
            justify-content: center;
            color: #000;
        }
        &_header {
            text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
            color: #fff;
        }
    }
}